/node_modules
/public/hot
/vendor
.env
.env.backup
.phpunit.result.cache
phpcs.xml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/uploads
/storage/app/uploads
modules_statuses.json
docker-compose.override.yml
/.idea
/.vscode
/nbproject/private/
